body{
    padding: 0;
    margin: 0;
    background-image: url(../img/bg.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    display: flex;
    /* border: 2px solid red; */
    height: 100vh;
    width: 80vw;
    margin: 0px auto;
}
    
    /* min-height: max-content;not worked */
    /* margin-top: 500px; to use after 2 box*/

    /* for purple shade  */
.main::before{
    content: "";
    background-color: #850485;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

    z-index: -1;
    opacity: 0.7;
}
.img{
    height: auto;
}
.first{
    margin: auto ;
    width: 60%;
    height: 25vh;
    /* border: 2px solid red; */
}
.sec{
    /* background-image: url(../img/photo_2022-09-10_20-32-18.jpg); */
    /* border: 2px solid red; */
    width: 40%;
    background-size: auto;
    height: 10vh;
    margin: auto ;
    background-repeat: no-repeat;
   
    /* height: fit-content; */
    /* width: fit-content; */
}
/* utility class */
.ptext{
    font-size: 1.5rem;
    color: white;
}
.headings{
    text-decoration: underline;
    color: white;
    font-size: 3rem;
    text-align: center;
}
/* .btn{
    display: inline-block;
    border: 2px solid black;  this was comment
    width: 20px;
    position: absolute;
    bottom: 0px;
    margin: 0px auto; this was comment 
  bottom: 20%;
    left: 50%;
    
} */
input{
    color: #850485;
    background-color: white;
    font-size: larger;

}
#get{
    
    align-items: center;
    color: purple;
    background-color: white;
    border-radius: 15px;
    width: 150px;
    /* height: 68px; */
    font-size: 25px;
    text-align: center;
    padding: 10px;
    display: block; 
    margin: auto;
}
#get1{
    
    align-items: center;
    color: purple;
    background-color: white;
    border-radius: 15px;
    width: 150px;
    /* height: 68px; */
    font-size: 25px;
    text-align: center;
    padding: 10px;
    display: block; 
    margin: auto;
}
 /* a:hover{
    background-color: black;
    color: white;
} */

.center{
    text-align: center;
}


